my_notes_muleapp/src/main/mule/my_notes_muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config_8082" doc:name="HTTP Listener config" doc:id="b90c3de6-8a60-478b-8b09-9d45970f10ec" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b9b0d097-d422-4b76-abe3-bed935a8c286" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="testing" database="testing"/>
	</db:config>
	<flow name="my_notes_muleappFlow_post" doc:id="aad579fb-6f71-467c-b664-e87748292632">
		<http:listener doc:name="Listener" doc:id="e5058c87-8617-4bc3-bc5c-511b7015f0fd" config-ref="HTTP_Listener_config_8082" path="/Notes" allowedMethods="POST">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</http:listener>
		<db:insert doc:name="Insert_note" doc:id="bd90fffb-9a85-4e29-b857-b751b58dd7ac" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Notes (title, content, userid, datecreated)
VALUES ( :titleInput , :contentInput, :useridInput, :datecreated);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'titleInput': payload.name,
'contentInput': payload.message,
'useridInput': payload.userid,
'datecreated': now() as String {format: "yyyy-MM-dd HH:mm:ss"}
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	"message": "Row added successfully"&#10;}]' doc:name="Set Payload" doc:id="f7028f4a-a5a7-4ca5-b8d6-b70cc9f79d41" />
		<logger level="INFO" doc:name="Logger" doc:id="0f205640-2bf6-4866-a49b-f6e39ee899ab" />
	</flow>
	<flow name="my_notes_muleappFlow_Get" doc:id="91fd1a1f-0980-4632-876d-1101f56d992d">
		<http:listener doc:name="Listener" doc:id="b4e17965-bada-4816-a805-8c51e66593b6" config-ref="HTTP_Listener_config_8082" path="/Notes/{ID}" allowedMethods="GET" />
		<db:select doc:name="Select notes" doc:id="09b75528-961f-4ed6-955d-872c3f2b2417" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM Notes where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a4da71b1-331a-44e0-9661-03957b955f9c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.title as String,
	message: payload01.content as String,
	userid: payload01.userid,
	datecreated: payload01.datecreated as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="47151f5b-efef-4ece-8a4c-e875a74a1246" />
	</flow>
	<flow name="my_notes_muleappFlow_Get_all" doc:id="8bbc8d1e-a7d1-4685-8db9-1cab4c103826">
		<http:listener doc:name="Listener" doc:id="e7338e01-c413-4f69-a4aa-81137a4dc6e0" config-ref="HTTP_Listener_config_8082" path="/Notes" allowedMethods="GET" />
		<db:select doc:name="Select notes" doc:id="a18ce5cf-281e-498c-b876-3ee5d25bdb15" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM Notes]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a8995437-e429-4d9b-b71a-633c99acfabe">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.title as String,
	message: payload01.content as String,
	userid: payload01.userid,
	datecreated: payload01.datecreated as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e99ccb91-523d-4ade-8282-bab9e37362ee" />
	</flow>
	<flow name="my_notes_muleappFlow_Get_calc" doc:id="86cad78e-abe2-4e4e-b7d5-5be69c3bcbca" >
		<http:listener doc:name="Listener" doc:id="6f8005c0-dcd8-46db-b828-961a9cc801f8" config-ref="HTTP_Listener_config_8082" path="/Notes/calc/{action}" allowedMethods="GET" />
		<set-variable doc:name="Set Variable" doc:id="8e61cf3d-4824-42c0-a2ca-d534371a2ca2" variableName="totalOperation" value="0" />
		<db:select doc:name="Select notes" doc:id="da1e1a45-0f7a-4607-9e5a-64735f3d7e72" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM Notes]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="28624829-ef66-4fa6-aba6-4009ca5274b0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var total = 0
---

payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.title as String,
	message: payload01.content as String,
	userid: payload01.userid,
	datecreated: payload01.datecreated as String,
	total: total
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="da542ce4-2627-4a2a-ab22-8a1bb06040cd" />
	</flow>
	<flow name="my_notes_muleappFlow_Get_calc-2" doc:id="51613a8e-f58c-4e77-b2ed-164b6004b31a" >
		<http:listener doc:name="Listener" doc:id="ac379b05-eac8-453e-953e-43f2b1fca2c2" config-ref="HTTP_Listener_config_8082" path="/Notes/calc2/{action}" allowedMethods="GET" />
		<set-variable value="0" doc:name="Set Variable" doc:id="4a414903-ac73-491a-a48c-7b9983b6d984" variableName="totalOperation" />
		<db:select doc:name="Select notes" doc:id="91b66311-7aab-4a62-85bd-2bed83565ef5" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM Notes]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a9c27d10-79de-47e0-b706-292b176d5a75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var total = 0
---

payload map ( payloadItem , index ) -> {
	id: payloadItem.id,
	name: payloadItem.title as String,
	message: payloadItem.content as String,
	userid: payloadItem.userid,
	datecreated: payloadItem.datecreated as String,
	score: payloadItem.score,
	accumulatedScore: (payload[0 to index].*score reduce ((sum, score) -> sum + score))
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4b5c5bed-7926-4272-9d79-b0cb8a7dc9e5" />
	</flow>
</mule>
